<!DOCTYPE html>
<html>
<head>
    <title>Detector Información Personal</title>
</head>
<body>
    <h1>Detector Información Personal</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <div style="display: flex; align-items: center;">
            <input type="file" name="image" id="imageInput">
            <input type="submit" value="Detectar">
            <div id="result" style="margin-left: 10px;"></div>
        </div>
    </form>
    <script>
        document.getElementById("uploadForm").addEventListener("submit", function(event) {
            event.preventDefault();
            const formData = new FormData();
            formData.append("image", document.getElementById("imageInput").files[0]);

            // Limpia el mensaje anterior antes de enviar la nueva solicitud
            document.getElementById("result").innerText = "";

            fetch("/api/main", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById("result").innerText = data.output;
            })
            .catch(error => {
                document.getElementById("result").innerText = "Error in detection";
            });
        });
    </script>
</body>
</html>
